#bloc_page
  {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
header
  {
    margin: 0 20px 0 20px;
  }
#bloc_logo_navigation
  {
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
  }
#logo
  {
    align-self: center;
  }
nav
  {
    grid-column-end: 5;
    line-height: 52px;
    text-align: right;
  }
nav ul
  {
    display: flex;
    margin-top: 10px;
  }
li
  {
    margin-right: 20px;
    padding-right: 20px;
    list-style-type: none;
  }
li a:hover
  {
    border-top: 3px #0065FC solid;
    color: #0065FC;
    padding-top: 33px;
  }
#suscribed
  {
    color: #0065FC;
    font-weight: bold;
    grid-column-start: 5;
    line-height: 71px;
    text-align: right;
  }
a
  {
    text-decoration: none;
    color: inherit;
  }
.links
  {
    display:block;
    width:100%;
    height:100%;
  }
#barre_recherche
  {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 20px;
  }
#barre_recherche *
  {
    line-height:40px;
    height:41px;
  }
.fas.fa-map-marker-alt
  {
    background-color: rgb(242, 242, 242);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
    text-align: center;
    vertical-align: top;
  }
input
  {
    border-top: 1px rgb(242, 242, 242) solid;
    border-bottom: 1px rgb(242, 242, 242) solid;
    border-left: none;
    border-right: none;
    width:221px;
    font-weight: bold;
  }
::placeholder
  {
    color: black;
    padding-left: 5px;
  }
button 
  {
    all:unset
  }
.button_text
  {
    background-color: #0065fc;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 120px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-family:Raleway Medium;

  }
.button_icon
  {
    display: none;
  }
#Filtres
  {
    display: flex;
    justify-content: space-between;
    margin: 26px 0 10px 0;
    text-align:center;
    font-weight: bold;
    line-height: 36px;
    margin-right:200px;
   }
#Filtres i
  {
    color: #0065fc;
    background-color: rgb(222, 235, 255);
    width: 45px;
    height: 45px;
    margin-left: -10px;
    margin-top: -2px;
    border-radius: 25px;
    line-height: 40px;
  }
.border_filter
  {
    display: flex;
    border: 2px rgb(217, 217, 217) solid;
    border-radius: 23px;
    height: 40px;
    font-weight: bold;
    justify-content: space-between;
    text-align: center;
  }
.border_filter:hover
  {
    transform: rotate(1turn);
    transition-property: margin-left;
    transition-duration: 4s;
    background-color: rgb(222, 235, 255);
  }
.border_filter i
  {
    position: absolute;
    z-index: 1;
  }
.label_filter
  {
    padding-right: 15px;
    align-items: baseline;
  }
#filter p
  {
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right:10px;
  }
#dollar
  {
    width: 145px;
  }
#famille
  {
    width: 115px;
  }
#romantique
  {
    width: 141px;
  }
#animaux 
  {
    width: 183px;
  }
#information
  {
    display: flex;
    flex-direction: row;
    align-items:baseline;
  }
.info_icon i
  {
    color: #0065FC;
    border: 2px rgb(242, 242, 242) solid;
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
    margin-right: 10px;
  }
section
  {
    margin-left: 20px;
    margin-right: 20px;  
  }
#section_hébergements
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.blue_star
  {
    color:#0065FC;
  }
.gray_star
  {
    color: rgb(204, 204, 204);
  }
.stars
{
  margin-top: 20px !important;
}
#bloc_Marseille
  {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    width: 80%;
    min-width: 272px;
    margin-right: 15px;
  }
#bloc_imageMarseille
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4px;
    padding: 7px;
  }
.miniatures_Marseille /*Images background*/
  {
    background-color: white;
    width: 30%;
    height: 150px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 3px rgb(232, 232, 232);
    margin-bottom: 20px;
    object-fit: cover;
  }
.miniatures_Marseille img /*Images miniatures*/
  {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:96%;
    height: 85px;
    margin-top: 3px;
    margin-left: 4px;
    object-fit: cover;
  }
#aside_populaires
  {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    width: 30%;
  }
#bloc_imagePopulaires
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 7px 30px 10px 30px;
    height: 100%;
  }
.miniatures_populaires
  {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(232, 232, 232);
    width: 100%;
    height: 105px;
  }
.miniatures_populaires img
  {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 90px;
    height: 100px;
    margin: 2px 0 0 3px;
    object-fit: cover;
  }
#bloc_imagesactivités /*grid images activités*/
  {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 0fr 0.5fr 0fr;
    grid-template-areas: 
    "port pomègues calanques garde"
    "port pomègues calanques ."
    "port frioul calanques longchamp";
    margin-bottom: 20px;
  }
#bloc_imagesactivités img /*Format images activités*/
  {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
  }
.miniatures_activités_img
  {
    object-fit: cover;
  }
figure
  {
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(232, 232, 232);
  }
figcaption
  {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.77em;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 5px;
    height:25px;
  }
footer
  {
   background-color: rgb(242, 242, 242); 
   display: flex;
   justify-content: space-evenly;

  }
/*Mise en page - Polices et Sizes*/
@font-face 
  {
    font-family: 'Raleway SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold'), url('font_raleway/Raleway-SemiBold.woff') format('woff');
  }
@font-face 
  {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium'), url('font_raleway/Raleway-Medium.woff') format('woff');
  }
h1
  {
    font-size: 20px;
    font-family: Raleway SemiBold;
    margin-bottom:8px;
  }
.H2_size
  {
    font-size: 16px;
    font-family: 'Raleway SemiBold';
  }
.raleway_medium
  {
    font-family:Raleway Medium;
  }
.raleway14
 {
   font-size: 14px;
 }
.raleway13
{
  font-size: 13px;
}
.raleway12
{
  font-size: 12px;
}
.raleway_semibold
  {
    font-family: Raleway SemiBold;
    font-size: 0.85em;
  }
.marges_nature
  {
    margin-bottom: 20px;
    margin-top:0;
  }
.marges_500logements
  {
    margin-bottom:40px;
    margin-top: 30px;
  }
.housing_title
  {
    padding: 15px 0 0 25px;
    margin-bottom:7px;
  }
.popular_title
  {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   padding: 15px 20px 0 20px;
   margin-bottom:0;
  }
.activity_title
  {
    margin-top:50px;
  }
.marges_plus
  {
    margin: 0 0 40px 30px;
    font-weight: bold;
  }
.texte_populaires
  {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
  }
.marges_Marseille
  {
    margin: 4px 0 0 12px;
    padding: 1px;
  }
.marges_Populaires
  {
    margin: 2px 10px 5px 10px;
  }
#aside_populaires h3
  {
    margin: 10px 25px 5px 10px;
  }
/*Media queries-----------------------------------------------------------------------------------------------*/
@media only screen and (min-width:320px) and (max-width: 767px) /*Format mobile*/
  {
    body
      {
        margin:0;
      }
    #bloc_page
      {
        width:100%;
      }
    header
      {
        margin:25px 0 0 0;
      }
    #bloc_logo_navigation
      {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 0.5fr);
      }
    #logo
      {
        margin-left: 20px;
      }
    nav
      {
        width: 100%;
        order:1;
        grid-row: 2;
        grid-column-end: span 3;
      }
    nav ul
      {
        border-bottom: 3px rgb(242,242,242) solid;
        padding-left: 0px;
      }
    li
      {
        padding-left: 12%;
      }
    li a:hover
      {
        border-bottom: 2px #0065fc solid;
        padding-bottom: 19px;
        color: #0065fc;
        border-top: none;
      }
    #suscribed
      {
        grid-column: 3;
        text-align: center;
        line-height: 60px;
        font-size:15px;
      }
    #barre_recherche *
      {
        height: 45px;
      }
    .fas.button_icon_style
      {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        width: 45px;
        background-color: #0065fc;
        color: white;
        text-align: center;
        line-height: 40px;
      }
    .button_text
      {
        display:none;
      }
    .button_icon
      {
        display: block;
      }
    section
      {
        margin: 10px;
      }
    #section_filtre
      {
        margin-left: 20px;
        margin-right: 20px;
      }
    #Filtres
      {
        width:100%;
        flex-wrap: wrap;
      }
    #Filtres i
      {
        width: 50px;
        height: 50px;
        border-radius: 40px;
        font-size: 20px;
        line-height: 46px;
      }
    .border_filter
      {
        margin-bottom: 14px;
        margin-right: 5px;
        height:45px;
        border-radius: 30px;
      }
    .label_filter
      {
        padding-right:20px;
        font-size:16px;
        line-height: 45px;
      }
    #filter
      {
        margin-right:200px;
        font-size: 18px;
      }
    #dollar
      {
        width: 155px;
      }
    #famille
      {
        width: 133px;
      }
    #romantique
      {
        width: 160px;
      }
    #animaux 
      {
        width: 200px;
      }
    #section_hébergements
      {
        flex-direction: column-reverse;
        width:100%;
        margin:0;
      }
    #bloc_Marseille
      {
        width: 100%;
        background-color: white;
      }
    .miniatures_Marseille
      {
        width:93%;
        height: 200px;
        margin-bottom: 13px;
      }
    .miniatures_Marseille img
      {
        width:97.4%;
        height:112px;
        margin-top:4px;
      }
    #aside_populaires
      {
        width: 100%;
        border-radius: unset;
        margin: 0;
      }
    #bloc_imagePopulaires
      {
        margin: 4px 25px 30px 25px;
      }
    .miniatures_populaires
      {
        margin-bottom: 12px;
        height: 145px;
      }
    .miniatures_populaires img
      {
        width: 125px;
        height: 135px;
        margin:5px 0 0 5px;
      }
    #section_activités
      {
        margin:0;
        width: 100%;
      }
    #bloc_imagesactivités
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:4px;
        padding:7px;
        grid-gap: 0;
      }
    .miniatures_activités
      {
        width:93%;
        height:200px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    .miniatures_activités_img
      {
        width:100%;
        height: 150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 3px 3px 8px 3px rgb(232, 232, 232);
      }
      #port img
    {
      object-position: 75% 5%;
    }
    #pomègues img
    {
      object-position: 70% 40%;
    }
    #frioul img
    {
      object-position: 80% 0%;
    }
    #calanques img
    {
      object-position: 90% 0%;
    }
    #garde img
    {
      object-position:80% 30%;
    }
    #longchamp img
    {
      object-position: 80% 12%;
    }
    figcaption
      {
        margin: 13px 0 0 10px;
        font-size: 1em;
      }
    footer 
      {
        flex-direction: column;
        padding-left:25px;
      }
    h1
      {
        font-size: 22px;
        margin: 11px 0 12px 0;
      }
    .H2_size
      {
        font-size:22px;
      }
    .raleway14
      {
        font-size:16px;
      }
    .raleway12
      {
        font-size: 13px;
      }
    .raleway_semibold
    {
      font-size: 0.9em;
    }
    .raleway13
    {
      font-size: 16px;
    }
    .raleway_semibold
      {
        font-size:0.95em;
        font-weight: bold;
      }
    .marges_nature
      {
        margin: 8px 0 35px 0;
      }
    .marges_Populaires
      {
        font-size: 13px;
      }
    h2
      {
        padding-left: 25px;
        margin-bottom:10px;
        margin-top:20px;
      }
    #bloc_Marseille h3
      {
        margin: 6px 0 0 15px;
      }
    .texte_populaires
      {
        margin: 10px 10px 0 10px;
      }
    .stars
      {
        margin-top: 35px !important;
      }
    .marges_Marseille
      {
        margin: 4px 0 0 12px;
        padding: 1px;
      }
    .marges_500logements
      {
        margin-top:15px;
        margin-bottom:25px;
      }
    .popular_title
      {
        padding-left: 15px;
        margin:20px 18px 20px 7px;
      }
    .marges_plus
      {
        margin-top:10px;
        margin-bottom: 15px;
      }
  }     
@media only screen and (min-width:768px) and (max-width:1023px) /*Format tablette et petit écran*/
{
  #bloc_page
    {
      width:90%;
    }
  .button_icon
    {
      display: none;
    }
  #Filtres
    {
      width: 100%;
      margin-right: 20px;
      flex-wrap: wrap;
    }
  #section_hébergements
    {
      flex-direction: column-reverse;
    }
  .stars
    {
      margin-top:30px !important;
    }
  #aside_populaires
    {
      width: 100%;
      margin-bottom: 30px;
    }
  #bloc_imagePopulaires
    {
      margin-bottom:30px
    }
  .miniatures_populaires
   {
     margin-bottom: 20px;
   }

  #bloc_Marseille
    {
      width: 100%;
    }
  #aside_populaires h3
    {
      font-size: 14px;
    }
  .police_Populaires
    {
      font-size:12px;
    }
  #bloc_Marseille h3
    {
      margin: 2px 0 0 12px;
      font-size: 14px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1439px) /*Ecran moyen*/
{
  #bloc_page
    {
      width: 99%;
    }
  .button_icon
    {
      display: none;
    }
  #bloc_Marseille
    {
      width: 67%;
    }
  #bloc_imagePopulaires
    {
      margin-left:20px;
      margin-right:20px;
    }
  .miniatures_populaires
    {
      height: 105px;
    }
  #bloc_Marseille h3
    {
      margin: 2px 0 0 12px;
    }
}
@media only screen and (min-width:1440px) and (max-width:2000px) /*Grand écran*/
{
  #bloc_page
    {
      width: 85%;
    }
  nav
    {
      padding-left: 210px;
    }
  #bloc_Marseille
    {
      width:70%;
      margin-right: 30px;
    }
  .miniatures_Marseille
    {
      height: 48%;
      width: 30%
    }
  #bloc_Marseille H3
    {
      margin: 10px 0 5px 15px;
    }
  .marges_Marseille
    {
      margin: 4px 0 0 15px;
      padding: 1px;
    }
  #aside_populaires
    {
      width: 30%;
    }
  .miniatures_populaires
    {
      height: 120px;
    }
  .miniatures_populaires img
    {
      height: 115px;
      width: 100px;
    }
  #Filtres
    {
      width:70%;
    }
  .raleway13
    {
      font-size:15px;
    }
  .raleway12
    {
      font-size: 13px;
    }
}
@media only screen and (min-width:768px)
{
#port
    {
      grid-area: port;
      background-color: white;
      margin: 0;
      grid-row-end: 4;
    }
  #port img
    {
      height: 270px;
      object-position: 58% 0%;
    }
  #pomègues
    {
      grid-area: pomègues;
      background-color: white;
      margin: 0;
      grid-row-end: 3;
    }
  #pomègues img
    {
      height: 130px;
      object-position: 30% 45%;
    }
  #frioul
    {
      grid-area: frioul;
      background-color:white;
      margin: 0;
      grid-row-start: 3;
    }
  #frioul img
    {
      height: 75px;
      object-position: 50% 25%;
    }
  #calanques
    {
      grid-area: calanques;
      background-color: white;
      margin: 0;
    }
  #calanques img
    {
      height: 270px;
    }
  #garde
    {
      grid-area: garde;
      background-color: white;
      margin: 0;
    }
  #garde img
    {
      height: 100px;
      object-position:top;
    }
  #longchamp
    {
      grid-area: longchamp;
      background-color:white;
      margin: 0;
      grid-row-start: 2;
    }
  #longchamp img
    {
      height: 107px;
      object-position: 50% 20%;
    }
}